.footerContainer {
  width: 100%;
  background: #fff;
  border-top: 0.0625rem solid #e5e7eb;

}
.footerContentWrapper {
  display: flex;
  flex-direction: row;
  max-width: 80rem;
  margin: 0 auto;
  padding: 3.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  gap :5rem;
}


.footerlinks {
  display: flex;
  gap: 1.5rem;
}

.footerlinks a {
  color: #374151;
  text-decoration: none;
}

.footerlinks a:hover {
  text-decoration: underline;
}

/* Social Section */
.socialSection {
  display: flex;
  flex-direction: column;
 
}
.sectionTitle {
  padding-right: 6rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: #111827;
}

.socialIconsWrapper {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
}

.socialIconLink {
  display: inline-flex;
  border-radius: 0.375rem;
}

.socialIconLink:hover {
  background: #bcdaf8;

  
}

/* Newsletter Section */
.newsletterDescription {
  margin-top: 0.5rem;
  color: #4b5563;
}

.newsletterForm {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.emailInput {
  flex: 1;
  height: 2.75rem;
  padding: 0 0.75rem;
  border: 0.0625rem solid #d1d5db;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  color: #111827;
}

.emailInput:focus {
  border-color: #2563eb;
  outline: none;
  box-shadow: 0 0 0 0.125rem #2563eb;
}

.subscribeButton {
  height: 2.75rem;
  padding: 0 1.25rem;
  border-radius: 0.375rem;
  background: #f97316;
  color: #fff;
  font-weight: 500;
  border: none;
}

.subscribeButton:hover {
  background: #ea580c;
}

/* ---------------- RESPONSIVE ---------------- */

@media (min-width: 640px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .brandSection {
    flex: 1 1 100%;
  }

  .socialSection {
    text-align: center;
    flex: 1 1 45%;
  }

  .newsletterSection {
    flex: 1 1 45%;
  }

  .newsletterForm {
    flex-direction: row;
  }
}

@media (max-width: 639px) {
  .footer {
    text-align: center;
    align-items: center;
  }

  .brandDescription {
    margin-left: auto;
    margin-right: auto;
  }

  .socialIconsWrapper {
    justify-content: center;
  }

  .newsletterForm {
    align-items: center;
  }

  .emailInput {
    width: 100%;
    max-width: 18rem;
  }
}

@media (min-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
  }

  .brandSection,
  .socialSection,
  .newsletterSection {
    flex: 1 1 30%;
  }
}
