.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  color: #1a1a1a;
  margin-top: 6rem;
  margin-bottom: 5rem;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  max-width: 1200px;
  margin: 0.15rem 2rem;
}

.card {
  flex-basis: calc(33.33% - 20px);
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1f;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-top: 24px;
  color: #171a1f;
}

.card p {
  font-size: 1rem;
  color: #666;
  margin-top: 10px;
  padding: 0 24px;
}

@media (min-width: 980px) {
  .cardsWrapper {
    flex-direction: row;
  }
}