.topbar {
  position: fixed;
  top: 0;
  left: 20rem;
  right: 0;
  height: 3rem;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  padding: 0 1.5rem;
  z-index: 1000;
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  max-width: 400px;
  background: #f3f4f6;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

.searchIcon {
  color: #6b7280;
  font-size: 0.9rem;
}

.searchInput {
  border: none;
  background: transparent;
  outline: none;
  flex: 1;
  font-size: 0.9rem;
}

.logoutBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background:#fff;
  color: rgb(45, 43, 43);
  border: 1px solid #e5e7eb;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s;
}

.logoutBtn:hover {
  background: gray;
  color: #fff;
}
