.topbar {
  height: auto;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
  padding: 1rem 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

/* .searchBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1 1 250px;
  max-width: 400px;
  background: #f3f4f6;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

.searchIcon {
  color: #6b7280;
  font-size: 0.9rem;
}

.searchInput {
  border: none;
  background: transparent;
  outline: none;
  flex: 1;
  font-size: 0.9rem;
} */

.logOutContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.logoutBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #fff;
  color: rgb(45, 43, 43);
  border: 1px solid #e5e7eb;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s;
  white-space: nowrap;
  height: 2.5rem;
}

.logoutBtn:hover {
  background: gray;
  color: #fff;
}

.profilePicContainer {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: aqua;
}

.profilePic {
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .logoutBtn {
    display: none;
  }
}
